<h1>New Dish</h1>
<div class="container">
  <%= form_for @dish  do |f| %>
    <div class="form-group">
      <%= f.label :dish_name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :dish_price %>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :dish_origin %>
      <%= f.text_field :origin, class: "form-control" %>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  <% end %>

</div>
